{{! preview.html: widget slot + full-width New topic (hub JS fills slot) }}
<div class="robotime-sidebar-hub">
  <div class="robotime-sidebar-widget-slot"></div>
  <a href="/new-topic" class="robotime-sidebar-new-topic">
    <svg class="robotime-sidebar-new-topic__icon" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
    <span class="robotime-sidebar-new-topic__label">{{theme-i18n "robotime_theme.new_topic"}}</span>
  </a>
</div>
